@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: 'Inter var';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/Inter-roman.var.woff2?v=3.19') format('woff2');
  font-named-instance: 'Regular';
}

@font-face {
  font-family: 'Inter var';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/Inter-italic.var.woff2?v=3.19') format('woff2');
  font-named-instance: 'Italic';
}

html { @apply bg-white; }

body {
  @apply font-sans text-black-olive;
  @apply grid grid-rows-[min-content_1fr_min-content];
}

section p { @apply mb-4; }
strong { @apply font-semibold; }

.dropdown .btn { @apply normal-case text-base; }
header { @apply flex justify-end; }

header h1 { @apply font-normal text-lg m-2; }

section h2 {
  @apply font-bold text-4xl;
  @apply mb-8;
}

.projects h3 { @apply font-semibold text-lg; }
.project { @apply mb-4; }

.icon-link { @apply flex items-start gap-1; }