<article class="prose">
  <div class="color-box bg-blueViolet"></div>
  <div class="color-box bg-paradisePink"></div>
  <div class="color-box bg-sunglow"></div>
  <div class="color-box bg-honeydew"></div>
  <div class="color-box bg-pineTree"></div>
</article>
