<header class="px-4 sm:px-6 lg:px-8">
  <div class="navbar">
    <.dropdown>
      <:label>
        <span class="text-indigo font-semibold hover:text-red-crayola transition-colors duration-300">
          @rdiedrich
        </span>
      </:label>
      <:entry>
        <.link 
          title="send an e-mail" 
          href="mailto:hallo@rdiedri.ch"
          class="hover:bg-indigo/5 rounded-lg px-2 py-1 transition-colors duration-300"
        >
          <.icon name="hero-envelope" class="text-indigo" /> hallo@rdiedri.ch
        </.link>
      </:entry>

      <:entry>
        <.link
          title="chat with me on matrix"
          href="https://matrix.to/#/@rdiedrich:matrix.org"
          target="_blank"
          class="hover:bg-indigo/5 rounded-lg px-2 py-1 transition-colors duration-300"
        >
          <.icon name="hero-chat-bubble-bottom-center-text" class="text-indigo" /> @rdiedrich:matrix.org
        </.link>
      </:entry>
    </.dropdown>
  </div>
</header>
<main class="px-4 py-20 sm:px-6 lg:px-8">
  <div class="mx-auto max-w-4xl space-y-20">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
<footer></footer>
