<!DOCTYPE html>
<html lang="en" style="scrollbar-gutter: stable;">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix="">
      <%= assigns[:page_title] || "Homepage" %>
    </.live_title>
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href={static_path(@conn, ~p"/apple-touch-icon.png")}
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href={static_path(@conn, ~p"/favicon-32x32.png")}
    />
    <link
      phx-track-static
      rel="icon"
      type="image/png"
      sizes="16x16"
      href={static_path(@conn, ~p"/favicon-16x16.png")}
    />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="preconnect" href="https://rsms.me/" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <style>
      :root { font-family: 'Inter', sans-serif; }
      @supports (font-variation-settings: normal) {
        :root { font-family: 'Inter var', sans-serif; }
      		
    </style>
    <link phx-track-static rel="stylesheet" href={static_url(@conn, ~p"/assets/app.css")} />
    <script
      defer
      phx-track-static
      type="text/javascript"
      src={static_url(@conn, ~p"/assets/app.js")}
    >
    </script>
    <script defer data-domain="rdiedri.ch" src="https://plausible.io/js/script.js"></script>
  </head>
  <body class="bg-white antialiased">
    <%= @inner_content %>
  </body>
</html>
